#navbar1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0da487;
    color: #ffffff;
}

.divNav1{
    display: flex;
    gap: 15px;
}
.divNav1 .p2{
    text-decoration: underline;
    font-weight: 400;
}

.divNav2{
    display: flex;
    align-items: center;
    gap: 15px;
}

#navbar2{
    display: flex;
    align-items: center;
}
.section_nav1 {
   padding: 15px;
   padding-left: 80px;
   padding-right: 10px;
}
.section_nav1 .allMenu{
    display: flex;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.section_nav1 h1{
    font-size: 30px;
}
.section_nav1 h2{
    padding-right: 10px;
}
.section_nav1 div{
    display: flex;
    align-items: center;
    background-color: #0da487;
    color: #ffffff;
}
.divNav3{
    display: flex;
    height: 50px;
    width: auto;
    padding: 20px;
}
.divNav3 .location{
    display: flex;
    align-items: center;
    margin: 15px;
    
}
.divNav3 .material-symbols-outlined{
    background-color: #f3f5f9;
}
.divNav3 input{
    padding-right: 320px;
}
.divNav3 .button{
    display: flex;
    align-items: center;
    background-color: #ffa53b;
    padding-right: 10px;
    padding-left: 10px;
}
.divNav4{
    display: flex;
    align-items: center;
    padding-left: 85px;
}
.divNav4 p{
    font-size: 20px;
}

.divNav4 :hover{
    color: #1fecdf;
    

}



.divOption{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.section_nav3{
    display: flex;
    flex-direction: column;
}
.divNav5{
    display: flex;
    gap: 25px;
    
}
.divNav5 div{
    border-right: 1px solid gray;
    padding-right: 22px;
    padding-top: 15px;
}
.divNav6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 40px;
}
.divC{
    padding-left: 25px;
}
.divBolt{
    background-color: #e7f6f3;
    padding: 8px;
    color: #0da487;
}
#cartContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    gap: 10px;

}
.card{
    position: relative;
    border: 1px solid #ced1d6;
    height: 445px;
    width: 280px;
    border-radius: 10px;
}
.card .card__figure img{
    height: 190px;
    width: auto;
}
.card .card__infoImage{
    display: flex;
    justify-content: center;
    gap: 5px;
    visibility: hidden;
}
.card:hover .card__infoImage{
    visibility: visible;
}
.card .card__infoImage .info:hover{
    background-color: #ecf7c9;
    color: #ffa53b;
    cursor: pointer;
    transform: scale(1.2);

}
.card .card__infoImage .favorite:hover{
    background-color: #ecf7c9;
    color: #f90707;
    cursor: pointer;
    transform: scale(1.2);
}
.card .card__infoImage .cart:hover{
    background-color: #ecf7c9;
    color: #0da487;;
    cursor: pointer;
    transform: scale(1.2);
}
.delete{
    position: absolute;
    top: 2px;
    right: 1px;
    
}
.card .delete{
    visibility: hidden;
}
.card:hover .delete{
    visibility: visible;
}
.delete:hover{
    cursor: pointer;
    color: #f90707;
    visibility: visible;
}
.card__body h3{
    text-align: center;
}
.card__body .card__marca{
    padding-left: 9px;
}
.card__body .card__price{
    padding-left: 9px;
    color: #39b49c;
    padding-top: 40px;
}
.card__body .card__stock{
    display: flex;
    justify-content: center;
    color: #39b49c;
    padding-top: 30px;
}
.card .card__button{
    display: flex;
    justify-content:center;
    margin-top:4px;
}
.card .card__btn{
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    padding-left: 90px;
}
.card .card__btn:hover{
    cursor: pointer;
}
.form_div1{
    display: flex;
    flex-direction: column;
}
.form_div3 input{
    padding-left: 300px;
    height: 20px;
}
.form_div6{
    display: flex;
    justify-content: space-between;
}
.form_div6 input{
    border: none;
    text-align: center;
}
.form_div7 input{
    border: none;
    text-align: center;
}
.form_div8 input{
    border: none;
    text-align: center;
}
.form_div9 input{
    border: none;
    text-align: center;
}
.form_div7{
    display: flex;
    justify-content: space-between;
}

.form_div8{
    display: flex;
    justify-content: space-between;
}
.form_div9{
    display: flex;
    justify-content: space-between;
}

#footer{
    display: flex;
}
.footer1{
    background-color: #f8f8f8;
    display: flex;
}
.div_footer1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.div_footer2{
    display: flex;
    align-items: center;
    gap: 5px; 
}
.articleF1{
   padding-left: 40px;
   padding-right: 30px;
}
.articleF1 h2{
    font-size: 40px;
}
.articleF2{
    padding-left: 40px;
    padding-right: 70px;
}

.articleF2:hover{

    color: #39b49c;
}
.articleF3{
    padding-left: 29px;
    padding-right: 90px;  
}
.articleF3:hover{

    color: #39b49c;
}
.articleF4{
    padding-left: 40px;
    padding-right: 180px; 
}